{% extends 'layout/layout.html.twig' %}

{% block head %}
    Créer un article
{% endblock %}

{% block content %}
    <div class="container px-4 px-lg-5">
        <h2>Créer un nouvel article</h2>

        <form method="post" enctype="multipart/form-data">
            <div class="form-floating">
                <input type="text" name="title" class="form-control" placeholder="Titre de l'article" required />
                <label for="title">Titre</label>
            </div>
            <div class="form-floating">
                <input type="text" name="lead" class="form-control" placeholder="Chapo" required />
                <label for="lead">Chapo</label>
            </div>
            <div class="form-floating">
                <input type="file" name="image" class="form-control" placeholder="image"  />
                <label for="image">Image</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" name="content" id="" cols="30" rows="10"  required></textarea>
                <label for="content">Contenu</label>
            </div>
            <div class="form-floating Form-select">
                <select name="category" id="category-select" required>
                    <option value="">--Choisir une catégorie--</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <button class="btn btn-primary">Ajouter</button>
        </form>
    </div>
{% endblock %}