{% extends 'layout/layout.html.twig' %}

{% block head %}
    Mot de passe oublié
{% endblock %}

{% block content %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2>Mot de passe oublié</h2>
                <p>Entrez votre email pour réinitialiser votre mot de passe</p>
                <div class="my-5">
                    <form id="register-form" method="POST">
                        <div class="form-floating">
                            <input class="form-control"
                                   id="login-username" name="email" type="email" placeholder="Email..." required/>
                            <label for="email">Email</label>
                        </div>
                        <br />
                        <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
