{% extends 'layout/layout.html.twig' %}

{% block head %}
    Réinitialisation du mot de passe
{% endblock %}

{% block content %}
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h2>Réinitialisation du mot de passe</h2>
                    <div class="my-5">
                        <form method="post">
                            <div class="form-floating">
                                <input type="password" name="password" class="form-control"
                                       placeholder="Nouveau de mot de passe" required/>
                                <label for="password">Nouveau mot de passe</label>
                            </div>
                            <div class="form-floating">
                                <input type="password" name="password_confirm" class="form-control"
                                       placeholder="Confirmation du nouveau mot de passe" required/>
                                <label for="password_confirm">Confirmation du nouveau mot de passe</label>
                            </div>
                            <button class="btn btn-primary">Réinitialiser le mot de passe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
