<nav class="navbar NavbarCustom navbar-expand-lg navbar-light" id="mainNav">
    <div class="container NavbarCustom-container px-4 px-lg-5">
        <a class="navbar-brand Navbar-logo" href="index.php?p=home"><img src="assets/img/logo2white.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="index.php?c=home">Home</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#">About</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#">Sample Post</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#">Contact</a></li>
            </ul>
            <div class="py-4 py-lg-0 ms-auto">
            {% if session.test %}
                <a href="index.php?c=user&amp=logout" class="btn btn-primary">Se déconnecter</a>
            {% else %}
                <a href="index.php?c=user&a=login" class="btn btn-primary">Login</a>
                <a href="index.php?c=user&a=register" class="btn btn-primary">Créer un compte</a>
            {% endif %}
            </div>
        </div>
    </div>
</nav>